/*// Place all the styles related to the Companies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/*/

h1{
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
}

h3{
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
}

.slider-title-company {
  font-size: 300%;
  text-align: center;
}

input{
  position: center;
}