/*// Place all the styles related to the Sectors controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
*/

.panel-heading h3{
  font-family: 'Roboto', sans-serif !important;
  font-weight: bold !important;
  font-size: 70% !important;
}

.panel-heading p{
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 50%;
}

.panel-transparent{
  background: none;
}

.panel-transparent .panel-heading{
  background: rgba(88, 88, 88, 0.5);
}

.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  display: inline-block;
  background-color: transparent;
  border-radius: 4px;
  color: white;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid #bbb;
  height: 38px;
  line-height: 38px;
  padding: 0 30px;
  letter-spacing: .1rem;
  text-transform: uppercase; 
  white-space: nowrap;
  box-sizing: border-box; }
.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.button:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
  border-color: #888;
  color: #333;
  outline: 0; }
.button.button-primary,
button.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary {
  color: #FFF;
  border-color: #33C3F0;
  background-color: #33C3F0; }
.button.button-primary:hover,
button.button-primary:hover,
input[type="submit"].button-primary:hover,
input[type="reset"].button-primary:hover,
input[type="button"].button-primary:hover,
.button.button-primary:focus,
button.button-primary:focus,
input[type="submit"].button-primary:focus,
input[type="reset"].button-primary:focus,
input[type="button"].button-primary:focus {
  background-color: #1EAEDB;
  border-color: #1EAEDB;
  color: #FFF; }

  button,
.button {
  margin-bottom: 1rem; }
input,
textarea,
select,
fieldset {
  margin-bottom: 1.5rem; }
pre,
blockquote,
form,
dl,
figure,
table,
p,
ul,
ol,
form {
  margin-bottom: 2.5rem; }
p {
  margin-top: 0; }


.panel-info {
  background-color: rgb(98, 196, 98);
}

.panel-heading {
  background-color: rgb(98, 196, 98);
}